@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 100vh;
    margin: auto;  
    width:100%; 
    margin: 0px 0px 20px 0px; 

}

/* Login Page */
.login-container{
    background:white;
    width:400px;
    margin: 200px auto 0 auto;
    padding:0px 0px 70px 0px;
    align-items: center;
}
  
 .login-h2{
    font-size:1.5em;
    color:#000000;

}
  

  
.login-input{
    background:#F3F3F3;
    border: none;
    border-bottom: #F3F3F3 2px solid;
    padding: 8px;
    width:300px;
    color:#515151;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.login-input:focus{
    outline: none;
}
  

.login-btn{
    background:#68B6FD;
    border: #F3F3F3 1px solid;
    border-bottom: #F3F3F3 2px solid;
    padding: 8px;
    width:318px;
    color:#F3F3F3;
    margin-top:30px;
    font-size:1em;
    border-radius:4px;
    text-transform: uppercase;
}

.login-btn:hover{
    background:#4D8DC8;

}

.login-btn:focus{
    outline: none;

}

.chat-container{
    width: 100%;
    display: flex;
    height: 600px;
    width: 1000px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    box-shadow: 0 -5px 5px -5px #333, 
    0 5px 5px -5px #333;


}

.left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: inherit;
    background-color: #EBEBEB;

}
.user-search{
    background-color: #F3F3F3;
}
.user-list{
    background-color: #FFFFFF;
    flex: 1;
}
.user-settings{
    background-color: #F3F3F3;
    display: flex;
}
.settings-btn{
    display: flex;
    height: 3em;
    width: 80px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
.settings-btn> svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
.settings-btn:hover > svg{
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
.settings-btn:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }





.right-side {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: inherit;
    background-color: white;

}

.user-header{
    background-color: #F3F3F3;
}

.message-list{
    flex: 1;
    background-color: #FFFFFF;
}
.message-input{
    background-color: #F3F3F3;
}