@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 100vh;
    margin: auto;  
    width:100%; 
    margin: 0px 0px 20px 0px; 

}

/* Login Page */
.login-container{
    background:white;
    width:400px;
    margin: 200px auto 0 auto;
    padding:0px 0px 70px 0px;
    align-items: center;
}
  
 .login-h2{
    font-size:1.5em;
    color:#000000;

}
  

  
.login-input{
    background:#F3F3F3;
    border: none;
    border-bottom: #F3F3F3 2px solid;
    padding: 8px;
    width:300px;
    color:#515151;
    margin-top:20px;
    font-size:1em;
    border-radius:4px;
}

.login-input:focus{
    outline: none;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}










  

.login-btn{
    background:#68B6FD;
    border: #F3F3F3 1px solid;
    border-bottom: #F3F3F3 2px solid;
    padding: 8px;
    width:318px;
    color:#F3F3F3;
    margin-top:30px;
    font-size:1em;
    border-radius:4px;
    text-transform: uppercase;
}

.login-btn:focus{
    outline: none;
}

.login-btn:hover{
    background:#4D8DC8;
    outline: none;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

}

.chat-container{
    width: 100%;
    display: flex;
    height: 600px;
    width: 1000px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    box-shadow: 0 -5px 5px -5px #333, 
    0 5px 5px -5px #333;


}

.left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: inherit;
    background-color: #EBEBEB; 

}
.user-search{
    background-color: #F3F3F3;
    margin: auto;
}

.user-search input{
    background-color: #F3F3F3;
    height: 30px;
    width: 180px;
    margin: 15px 15px;
    border: 1px solid #C8C8C8;
    font-size: large;

}
.user-search input:focus{
    outline: none;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
.send-btn:focus > svg{
    font-size: 2.2em;
}







.user-list{
    background-color: #F3F3F3;
    flex: 1;
}
.user-list > ul {
    padding: 10px 0px 0px 0px;
    margin: 0px ;
}

.user-list ul {
    background-color: #FFFFFF;
    font-size: smaller;
    list-style-type: none;


}
.user-list ul li{
    border-bottom: 1px solid #C8C8C8;
}

.user-name{
    margin: 0px;
    display: flex;
    font-size: 15px;
}
.photo{
    font-size: 20px;
}
.name{
    padding-left: 15px;
}
.user-settings{
    background-color: #F3F3F3;
    border-top: 1px solid #C8C8C8;
    display: flex;
    justify-content: right;

}
.settings-btn{
    display: flex;
    height: 3em;
    width: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
.settings-btn> svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
.settings-btn:hover > svg{
    font-size: 2.2em;
   }
   
.settings-btn:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }





.right-side {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: inherit;
    background-color: white;
}

.user-header{
    background-color: #F3F3F3;
    height: 60px;
    display: flex;
    justify-content: space-between;


}

.user-name{
    margin: 15px 25px;
}
.user-btn{
    margin: 15px 25px;
    

}

.user-btn{
    display: flex;
    height: 2.5em;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
.user-btn> svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
.user-btn:hover > svg{
    font-size: 2.2em;
   }
   
.user-btn:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }














.message-list{
    flex: 1;
    background-color: #FFFFFF;
}
.message-input {
    border-top: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    display: flex;
    height: 60px;
}
.message-input form{
    display: flex;
}

.message-input input{
    background-color: #F3F3F3;
    width: 650px;
    margin: 15px 25px;
    border: 1px solid #C8C8C8;
    font-size: large;

}
.message-input input:focus{
    outline: none;
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
.send-btn:focus > svg{
    font-size: 2.2em;
}
.send-btn{
    display: flex;
    height: 2.5em;
    width: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #F3F3F3;
   }
   
.send-btn> svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
.send-btn:hover > svg{
    font-size: 2.2em;
   }
   
.send-btn:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }

   /*

   .message-input form {
    display: flex;
    height: 3em;
    width: 790px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
.message-input> svg{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
.message-input form:hover > svg{
    font-size: 2.2em;
   }
   
.message-input form:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }
*/